<% workflow = card.collection.workflow %>

<% if workflow  %>
  <div id="<%= dom_id(card, "stages") %>" class="card__stages">
    <% workflow.stages.each do |stage| %>
      <%= button_to_set_stage card, stage %>
    <% end %>
  </div>
<% end %>
