<%= turbo_frame_tag "pins" do %>
  <% @pins.map(&:card).each do |card| %>
    <div class="pin tray__item">
      <%= render partial: "cards/display/preview", locals: { card: card } %>
    </div>
  <% end %>
<% end %>
