@layer components {
  .pin-tray {
    inset: auto auto var(--block-space-half) var(--inline-space);

    .pin {
      --z: calc(10 - var(--position));

      container-type: inline-size;
      font-size: 0.5cqi;

      &:nth-child(7) { --position: 7; }
      &:nth-child(8) { --position: 8; }
      &:nth-child(9) { --position: 9; }
      &:nth-child(10) { --position: 10; }

      &:nth-child(1n + 11) { display: none; }
    }

    .card {
      --block-space: 1em;
      --block-space-half: 0.5em;
      --text-xx-large: 2em;
    }

    .card__tags,
    .workflow-stage:not(.workflow-stage--current),
    .card__closed {
      display: none;
    }

    .workflow-stage--current {
      position: absolute;
      inset: 0 0 auto auto;
      inline-size: fit-content;
    }

    .card__title {
      min-block-size: 0;
    }
  }
}
